<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970318906848-e76oh5pcbc96bh2gac3pd60ubsmt67v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970318906848-e76oh5pcbc96bh2gac3pd60ubsmt67v5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>970318906848-vimnlrre5jl59l27gi4gb148pfen07kv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBa8zSs9oVjDP9Gd2-5K5JMRREX7eYF_2I</string>
	<key>GCM_SENDER_ID</key>
	<string>970318906848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travelapp.mvp</string>
	<key>PROJECT_ID</key>
	<string>jahztravelapp</string>
	<key>STORAGE_BUCKET</key>
	<string>jahztravelapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970318906848:ios:5f442606bd138915d79785</string>
	<key>DATABASE_URL</key>
	<string>https://jahztravelapp.firebaseio.com</string>
</dict>
</plist>