<ion-content>
  <div class="topcover">
    <div>
      <ion-grid>
        <ion-row>
          <ion-col routerLink="/login" routerDirection="backward" size="2" style="text-align: center">
            <ion-icon style="font-size: 25px; color: black; margin-top: 15px" name="arrow-back"></ion-icon>
          </ion-col>
          <ion-col size="8">
            <p align=center style="font-size: 18px; color:black">SIGN UP</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <br>
    <!-- <p align="center"><img src="../../assets/iconsandbackgrounds/logo.png" height="100"></p> -->
    <br>

  </div>


  <div padding>

    <ion-item class="each_item">
      <img src="../../assets/icon/User.png" style="margin-right: 15px; zoom: 70%;">
      <ion-input type="text" [(ngModel)]="firstname" placeholder="First Name"></ion-input>
    </ion-item>


    <ion-item class="each_item">
      <img src="../../assets/icon/User.png" style="margin-right: 15px; zoom: 70%;">
      <ion-input type="text" [(ngModel)]="lastname" placeholder="Last Name"></ion-input>
    </ion-item>

    <ion-item class="each_item">
      <img src="../../assets/icon/mail.png" style="margin-right: 15px; zoom: 32%;">
      <ion-input style="margin-left: 5px" type="text" [(ngModel)]="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item class="each_item">
      <img src="../../assets/icon/Password.png" style="margin-right: 15px; zoom: 70%;">
      <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="register()">SIGN UP</ion-button>


    <div style="margin-top: 10px;">

         
        <ion-grid>
        
          <ion-row style="justify-content: center; padding-left: 20px;" >
    
            <div class="testclass" (click)="fblogin()">
                    <img style="zoom:10%;" src="../../assets/icon/facebook.svg">
            </div>
    
            <div class="testclass" (click)="googleLogin()">
                      <img style="zoom:10%;" src="../../assets/icon/google.svg">
            </div>
            </ion-row>
        </ion-grid>
        
    </div> 

    <p routerLink="/login" routerDirection="backward"  class="tna" style="margin-top: 20px" align=center>Already have an account?<b style="font-size: 14px; margin-left: 5px">Login</b></p>

  </div>
</ion-content>